* {
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}

.input_wrapper {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form {
    padding: 15px;
    width: 360px;
    height: 80px;
    border-radius: 1rem;
    background-color: rgba(205, 205, 205, 0.652);
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);

}

input {
    border: none;
    outline: none;
    font-size: 16px;
    height: 30px;
    width: 99%;
}

.passwordStrength {
    display: flex;
    height: 6px;
}

.passwordStrength div {
    height: 6px;
    width: 33%;
    transition: background-color 0.3s ease-in-out;
}

.easy {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.strong {
    background-color: rgb(0, 167, 0);

}

.defaultPasswordStrengthColor {
    background-color: gray;
}